streamlit==1.32.2

langchain==0.2.3
langchain-community==0.2.4
langchain-huggingface==0.0.3
langchain-groq==0.1.4

chromadb==0.4.24

pypdf==4.2.0
python-dotenv==1.0.1
rank-bm25==0.2.2

sentence-transformers==2.6.1
transformers==4.41.2
torch==2.2.2

protobuf==3.20.3
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0